.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100vw;

}

.main-container {
  background: linear-gradient(102deg, #1d1d1d, #293230, #4a3c42, #3b3142, #3a4447);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  -o-animation: AnimationName 24s ease infinite;
  animation: AnimationName 24s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 19%}
  50%{background-position:100% 82%}
  100%{background-position:0% 19%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 19%}
  50%{background-position:100% 82%}
  100%{background-position:0% 19%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 19%}
  50%{background-position:100% 82%}
  100%{background-position:0% 19%}
}
@keyframes AnimationName {
  0%{background-position:0% 19%}
  50%{background-position:100% 82%}
  100%{background-position:0% 19%}
}
